<div class="container">
  <div class="row">
    <h1 class="text-center">Oxford University</h1>
    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
      <form class="form-signin" (submit)="loginUser($event)">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input
          type="email"
          id="inputEmail"
          class="form-control"
          placeholder="Email address"
          required autofocus
          [value]="userNameInput"
        >
        <label for="inputPassword" class="sr-only">Password</label>
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Password"
          required
          [value]="passwordInput"
        >
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <div class="alert alert-warning" *ngIf="incorrect">
          Write a correct Username or Password
        </div>
        <div class="btn-group">
          <button class="btn btn-primary" type="submit">Sign in</button>
          <button class="btn btn-primary back" routerLink="/">Go Back</button>
        </div>
      </form>
    </div>
  </div>
</div> <!-- /container -->
