.search_user{
  width: 100%;
  border: none;
  border-bottom: 2px solid lightseagreen;
  margin-bottom: 5px;
  padding: 5px 15px;
  &:focus{
    outline: none;
  }
}
select{
  width: 100%;
  margin-bottom: 5px;
}
.table-striped{
  tbody{
    tr:nth-of-type(odd){
      background-color: rgba(32,178,170, .4);
    }
  }
}

