.search_user{
  width: 100%;
  border: none;
  border-bottom: 2px solid lightseagreen;
  margin-bottom: 5px;
  padding: 5px 15px;
  &:focus{
    outline: none;
  }
}
select{
  width: 100%;
  margin-bottom: 5px;
}
.table-striped{
  border: 1px solid lightseagreen;
  color: #191919;
  thead{
    background-color: rgba(255,255,255, 1);
    tr{
      th{
        border-bottom: 2px solid gray;
      }
    }
  }
  tbody{
    tr:nth-of-type(odd){
      background-color: rgba(32,178,170, .8);
    }
    tr:nth-of-type(even){
      background-color: rgba(255,255,255, 1);
    }
    tr{
      th{
        border-bottom: 2px solid lightseagreen;
      }
      td{
        border-bottom: 2px solid lightseagreen;
      }
    }
  }
  button{
    background-color: lightseagreen;
    font-size: 18px;
  }
}

